:root {
  --sidebar-width: 240px;
}

@media (min-width: 992px) {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    padding-left: 0 !important;
  }

  /* Only shift content when body doesn't have a .no-sidebar-pad */
  body:not(.no-sidebar-pad) #root {
    padding-left: var(--sidebar-width) !important;
  }
}
